/* --- Estilos básicos y reinicio de márgenes --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#formbutton-button{
  background: #1B1B3A;
}

@font-face {
    font-family: myFirstFont;
    src: url(https://www.hubspot.com/hubfs/brand-kit-generator/prototype/fonts/ProzaLibre-Bold.ttf);
}

body {
    font-family: myFirstFont; /* Fuente principal */
    padding: 20px; /* Espaciado interno */
}

/* --- Encabezado (Header) --- */
header {
    display: flex; /* Distribución flexible */
    justify-content: space-between; /* Elementos separados */
    align-items: center; /* Alineación vertical */
    background: #1B1B3A; /* Color de fondo */
    color: white; /* Color de texto */
    padding: 10px 20px; /* Espaciado interno */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#logo {
  width:22%;heigth:22%;
  display: "inline";
  loading: "lazy";
  border-radius: 30px;
}

.icono-carrito {
    color: white; /* Color del icono */
    font-size: 24px; /* Tamaño del icono */
    text-decoration: none; /* Sin subrayado */
}

/* --- Navegación principal --- */

nav ul {
    list-style-type: none; /* Sin viñetas */
    background: #DF6C92; /* Fondo oscuro */
    padding: 10px; /* Espaciado interno */
	border-bottom-left-radius: 7px;	border-bottom-right-radius: 7px;
}

nav ul li {
    display: inline; /* Elementos en línea */
    margin-right: 15px; /* Separación entre enlaces */
}

nav ul li a {
    color: white; /* Color de texto */
    text-decoration: none; /* Sin subrayado */

}

nav ul li a:hover{
color: #1B1B3A; /* Cambio de color al pasar el cursor */
border-radius: 10px;
}

/* --- Estilos de productos --- */
.productos {
    display: grid; /* Distribución en cuadrícula */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste automático */
    gap: 20px; /* Separación entre productos */
    margin-top: 20px; /* Margen superior */
}



.producto {
    background: #1B1B3A; /* Fondo claro */
    padding: 15px; /* Espaciado interno */
    text-align: center; /* Texto centrado */
color: white;
border-radius : 7px;
}

.producto h2 {
    margin-bottom: 10px; /* Espacio inferior */
color:#DF6C92 ;
}

.producto .precio {
    color: #555; /* Texto en color verde */
    font-size: 18px; /* Tamaño de fuente */
}

.producto button {
    background: #DF6C92; /* Fondo oscuro */
    color: white; /* Texto blanco */
    border: none; /* Sin bordes */
    padding: 10px 15px; /* Espaciado interno */
    cursor: pointer; /* Mano al pasar por encima */
    border-radius: 7px;
}

.producto button:hover {
    background: #555; /* Cambio de color al pasar el cursor */
}
